<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDC_PB6VTFo3EgyiA33J7jguDN8VYDnvgE</string>
	<key>GCM_SENDER_ID</key>
	<string>653075348861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobPortal</string>
	<key>PROJECT_ID</key>
	<string>job-portal-a0f43</string>
	<key>STORAGE_BUCKET</key>
	<string>job-portal-a0f43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653075348861:ios:2e774b45f75040dfaca014</string>
</dict>
</plist>